.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid blue;
    width: 10rem;
    height: 3rem;
    font-size: $main-font-size;
    background: none;
}
